---
layout: layout.liquid
title: Alpine Name Gen
---

<h2><strong>Random Name Generator</strong></h2>
<div x-data="randomNamePick()">
    <h1 x-text="name"></h1>
    <button @click="button">Generate</button>
</div>