body {
    font-family: Helvetica, sans-serif;
    color: #EAE8FF;
    background: #171820;
    padding: 0 40px;
    text-align: center;
}

nav {
    margin: 40px auto 0 auto;
    width: 250px;
    border-radius: 50px;
    background: #212431;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    margin: 0;
}

nav ul li a {
    display: inline-block;
    padding: 20px;
    color: #EAE8FF;
    text-decoration: none;
    font-size: 1.2em;
}

h1 {
    font-size: 8em;
    letter-spacing: -2px;
}

h2 strong {
    background: rgb(34,193,195);
    background: linear-gradient(180deg, rgb(255, 255, 255) 25%, rgb(0, 225, 255) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

img.about {
    opacity: 0.5;
}

button {
    background: rgb(255, 255, 255);
    border: none;
    border-radius: 25px;
    color: rgb(0, 0, 0);
    font-size: 1.2em;
    padding: 15px 30px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: rgb(43, 255, 0);
}